* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 15px;
}

.container {
    width:80%;
    margin: auto;
}

.header {
    background-color: #4F4F4F;
    .header-logo {
        img {
            height: 70px;
        }
    }

}

.header-menu {
    border: 2px solid #7e64db;
    color: #a59abc;
    float: right;
    font-size: 2em;
    padding: 10px;
    margin: 15px;
}

.header-nav {
    border: 2px solid rgb(136, 115, 213);
    margin: 15px;
    padding: 8px;
    text-align: center;
    display: none;
    ul {
        list-style: none;
        li {
            padding: 10px;
            a {
                text-transform: uppercase;
                color: azure;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}



.banner-mobile {
    background-color: #4F4F4F;
    text-align: center;
    padding-bottom: 40px;
    img {
        width: 100%;
    }
}

.banner-pc {
    display: none;
}

.footer {
    text-align: center;
    background-color: #4F4F4F;
    color: #FFFAFA;
    padding: 20px;
    p {
        margin: 10px;
    }
    a {
        color: #FFFAFA;
        text-decoration: none;
        margin: 20px;
        font-size: 1.8em;
    }
    a:hover {
        color: #E0FFFF;
    }
}

@media (min-width: 500px) {
    .header {
        .header-menu {
            display: none;
        }
        .header-nav {
            display: block;
            border: 0px;
            padding: 10px;
            margin: 5px;
            float: right;
            ul {            
                li {
                    display: inline-block;
                    margin: 5px;    
                    a {
                        color: #F5F5F5;
                        font-size: 1.2em;
                        padding: 15px;
                    }
                    a:hover {
                        color: #6495ED;
                        padding: 5px;
                        border: 1px solid #9ac5e0;
                        border-radius: 2px; 
                    }              
                }
            }
        }

    }
}