* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Serif', serif;
    color: #f3e8dc;
    font-size: 15px;
    background: linear-gradient(to bottom, #0f1720, #1c2c3a);
}

.container {
    width: 90%;
    margin: auto;
}

.header {
    background-color: #1c2c3a;
}

.header-logo img {
    height: 70px;
}

.header-menu {
    color: #dcf3f1;
    float: right;
    font-size: 2em;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}

.header-nav {
    border: 2px solid #26383f;
    margin: 10px 0;
    padding: 8px;
    text-align: center;
    display: none;
    background-color: #2e3f50;
}

.header-nav ul {
    list-style: none;
}

.header-nav ul li {
    padding: 10px;
}

.header-nav ul li a {
    text-transform: uppercase;
    color: #a1c2fc;
    text-decoration: none;
    font-weight: bold;
}

.banner-mobile {
    text-align: center;
    padding-bottom: 40px;
    display: block;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.banner-mobile img {
    width: 100%;
    height: auto;

}

main {
    background-color: #0f1720;
    padding: 30px 0;
}

main h1 {
    font-size: 2em;
    color: #85fbff;
    text-align: center;
    margin-bottom: 10px;
}

main p {
    text-align: center;
    margin-bottom: 30px;
}

.banner-desktop {
    display: none;
}

.form-contato {
    background-color: #2e3f50;
    padding: 30px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-contato label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #85fbff;
}

.form-contato input,
.form-contato textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #0f1720;
    border: 1px solid #3f2b26;
    color: #dcecf3;
    border-radius: 4px;
}

.form-contato button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #1c2c3a;
    color: #dcf0f3;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-contato button:hover {
    background-color: #367a75;
    color: #0f1720;
}

.footer {
    text-align: center;
    background-color: #2e3f50;
    color: #f3e8dc;
    padding: 20px;
    border-top: 2px solid #3f2b26;
}

.footer p {
    margin: 10px;
}

.footer a {
    color: #f3e8dc;
    text-decoration: none;
    margin: 10px;
    font-size: 1.2em;
    transition: color 0.3s;
}

.footer a:hover {
    color: #5ec1e8;
}

h2 {
    color: #01f7ff;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

.sobre-container {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 12px;
    margin: 20px auto;
    border-left: 5px solid #7f5af0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5), 0 0 8px rgba(127, 90, 240, 0.2);
    transition: box-shadow 0.3s ease;
    width: 95%;
    max-width: 900px;
}

.sobre-container h2 {
    color: #7f5af0;
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.sobre-container h3 {
        color: #978db5;
        font-size: 1.4em;
}

.sobre-container p {
    font-size: 1em;
    margin-bottom: 16px;
    line-height: 1.6;
    text-align: justify;
}

hr {
    border: none;
    border-top: 1px solid #444;
    margin-top: 20px;
}

@media (min-width: 780px) {
    .header-menu {
        display: none;
    }

    .header-nav {
        background-color: transparent;
        display: block;
        border: 0;
        float: right;
    }

    .header-nav ul li {
        display: inline-block;
        margin: 0 5px;
    }

    .header-nav ul li a {
        color: #dcdcf3;
        font-size: 1em;
        padding: 10px;
        transition: color 0.3s, background-color 0.3s;
    }

    .header-nav ul li a:hover {
        color: #85e1ff;
        background-color: #141d28;
        border-radius: 4px;
    }

    .banner-mobile {
        display: none;
    }

    .banner-desktop {
        display: block;
        text-align: center;
        padding: 0;
        margin: 25px auto;
        width: 90%;
        box-shadow: 0 0 40px rgba(179, 92, 203, 0.422);
    }

    .banner-desktop img {
        width: 100%;
        height: auto;
    }

    .sobre-container {
        padding: 20px;
    }

    .sobre-container h2 {
        font-size: 24px;
    }

    .sobre-container p {
        font-size: 15px;
    }

    .sobre-container h3 {

    }
}
